.pl1 {
  --bg: hsl(223, 10%, 90%);
  --fg: hsl(223, 10%, 10%);
  --c1: hsl(3, 90%, 55%);
  --c2: hsl(33, 90%, 55%);
  --c3: hsl(223, 90%, 55%);
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6em;
  height: 6em;

  &__a,
  &__b,
  &__c {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: var(--c1);
    animation: bounce 1s infinite;
    transform-origin: 50% 100%;
  }

  &__b {
    background: var(--c2);
    animation-delay: 0.1s;
  }

  &__c {
    background: var(--c3);
    animation-delay: 0.2s;
  }
}

// Bounce Animation
@keyframes bounce {
  from,
  to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear;
  }
  55% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out;
  }
}
