:root {
  /* Dark and Light mode colors */
  --background-light: #f8f9fa;
  --background-dark: #121212;
  --text-light: #1e1e1e;
  --text-dark: #e4e4e4;
  --border-light: #e6e6e6;
  --border-dark: #333333;
  --tab-active: #0056b3; /* Active tab color */
  --progress-light: #e0e0e0;
  --progress-dark: #333333;

  /* Shared styles */
  --border-radius: 0.5rem;
  --menu-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

/* Code Cell Container */
.code-cell {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--menu-shadow);
  background-color: var(--background-light);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  outline: none;
  outline: 1px solid var(--border-light);
}

.code-cell:focus-within {
  outline: 1px solid var(--tab-active); /* Primary color border on focus or hover */
}

@media (prefers-color-scheme: dark) {
  .code-cell {
    background-color: var(--background-dark);
    outline: 1px solid var(--border-dark);
  }

  .code-cell:focus-within {
    outline: 1px solid var(--tab-active); /* Hover effect in dark mode */
  }
}

/* Editor and Preview Area */
.code-editor-container,
.preview-container {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--border-light);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--background-light);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  .code-editor-container,
  .preview-container {
    border: 1px solid var(--border-dark);
    background-color: var(--background-dark);
  }
}

/* Progress Wrapper */
.progress-wrapper {
  position: relative;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  .progress-wrapper {
    background-color: var(--background-dark);
  }
}

/* Loading Spinner */
.loading-spinner {
  width: 2rem;
  height: 2rem;
  border: 4px solid var(--progress-light);
  border-top-color: var(--tab-active);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@media (prefers-color-scheme: dark) {
  .loading-spinner {
    border: 4px solid var(--progress-dark);
    border-top-color: var(--tab-hover);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
