.editor-wrapper {
  position: relative;
  height: 30rem;
  max-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

/* Format button styling */
.editor-wrapper .button-format {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition:
    opacity 0.3s ease-in,
    background-color 0.3s ease;
}

/* Show button on hover */
.editor-wrapper:focus-within .button-format {
  opacity: 1;
}
