.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border-radius: 0.5rem;
  overflow: hidden;
}

.action-bar button {
  border-radius: unset !important;
  opacity: 0.4;
  transition: opacity 0.3s ease-in;
}

.action-bar:hover button {
  opacity: 1;
}
