.main-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.progress-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.resize-handle {
  width: 5px;
  cursor: ew-resize;
  background-color: #ddd;
}
